body, html {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/*home*/
    .carousel {
        height: 100vh;
        width: 100%;
        overflow:hidden;
    }
    .carousel .carousel-inner {
        height:100%;    
    }
    .carousel .carousel-inner img {
        object-fit: cover;
        width: 100% !important;
        height: auto;
        padding: 200px;
        margin: -95px 0 86px 0 !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        height: 80px !important;
        width: 80px !important;
    }

    .carousel-control-prev {
        left: 0;
        background: #155724 !important;
        width: 50px !important;
    }

    .carousel-control-next {
        right: 0;
        background: #155724 !important;
        width: 50px !important;


    }